{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7", "ie >= 9"]
        },
        "modules": false,
        "useBuiltIns": true,
        "debug": false
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-vue-jsx"
  ]
}
