@define-extend tip-basement {
  margin-bottom: 12px;
  padding: 10px;
  clear: fix;
  font-size: 12px;
}

.default {
  @extend tip-basement;
  background-color: var(--tip-background);
  border: 1px solid var(--tip-border);
}

.success {
  @extend tip-basement;
  background-color: #F3FAED;
  border: 1px solid #8BCB46;
}

.warn {
  @extend tip-basement;
  background-color: #FFFBF8;
  border: 1px solid #ffd8b6;
  a {
    color: #ff6d00;
  }
}

.error {
  @extend tip-basement;
  background-color: #FFE7E7;
  border: 1px solid #FF817D;
}

.content-area {
  float: left;
}

.close-area {
  float: right;
  cursor: pointer;
  color: #8492a6;
  i {
    vertical-align: top;
  }
}

.word-break {
  word-break: break-all;
}
